/* .carousel-item img{
    height: 584px
} */
.banner{
    margin-bottom: 200px;
}
.banner-btn{
    background-color: white;
    color: #3F87F5;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
}
.banner-title{
    margin-left: 400px;
    margin-right: 400px;
    display: block;
    position: relative;
    margin-top: -300px;
}
.banner-text{
    color: white;
}

.part2-text{
    width:450px;
}